.home {
  display: flex;
  flex-direction: column;
  font-size: 40px;
  &__section {
    min-height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__overview {
    height: 1000px;
  }

  &__features {
    min-height: 700px;
  }
}
