@import '../../../../variables.scss';

.contact {
  width: 500px;
  height: 100%;
  background-color: bisque;
  @media (max-width: $mobile) {
    width: 100%;
  }
}

.dvContainer {
  display: flex;
  flex-direction: column;
  padding: 10px;

  &__title {
    font-size: 30px;
    font-weight: 600;
  }

  &__subtitle {
    font-size: 20px;
    color: $secondaryColor;
    font-weight: 700;
    text-align: left;
    margin-top: 25px;
  }

  &__line {
    width: 100%;
    height: 4px;
    background-color: $secondaryColor;
    margin: unset;
  }
  &__overline {
    align-items: center;
    height: 0.2px;
    background-color: rgb(207, 198, 198);
    margin-bottom: unset;
    border: unset;
  }

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__subcontainer {
    display: flex;
    justify-content: space-evenly;
  }

  &__date {
    margin: 10px;
    display: flex;
    flex-direction: column;
    font-size: 18px;
  }

  &__span {
    font-weight: 600;
    font-size: 20px;
    color: $primaryColor;
  }
}
