@import '../../../../variables.scss';

.contact {
  width: 500px;
  height: 100%;
  background-color: bisque;
  @media (max-width: $mobile) {
    width: 100%;
  }
}

.dvContainer {
  display: flex;
  flex-direction: column;

  &__title {
    font-size: 30px;
    font-weight: 600;
  }

  &__subtitle {
    font-size: 20px;
  }

  &__line {
    width: 100%;
    height: 4px;
    background-color: $secondaryColor;
    margin: unset;
  }
  &__overline {
    width: 100%;
    height: 0.5px;
    background-color: gray;
    margin: unset;
  }

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__subcontainer {
    display: flex;
    justify-content: space-evenly;
  }

  &__date {
    margin: 10px;
    display: flex;
    flex-direction: column;
    font-size: 18px;
  }

  &__span {
    font-weight: 600;
    font-size: 15px;
    color: $secondaryColor;
  }
}
