@import '../../../variables.scss';

.button {
  font-size: 16px;
  font-weight: 600;
  width: 100%;
  height: 48px;
  border-radius: $borderRadius;
  background-color: $primaryColor;
  color: white;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 14px;

  &--isSecondary {
    background-color: unset;
    color: $primaryColor;
    font-weight: bold;
    border: 2px solid $primaryColor;
  }

  &--isTertiary {
    background-color: unset;
    width: unset;
    color: $primaryColor;
    font-weight: bold;

    &:hover:not(:disabled) {
      text-decoration: underline;
    }
  }

  &--isLoading {
    pointer-events: none;
  }

  &:disabled {
    cursor: not-allowed;
    filter: grayscale(80%);
  }
}
