.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: bisque;
  width: 15%;
  padding: 10px;

  &__routes {
    margin: 10px auto;
    font-size: 1.1em;
    font-family: monospace;
    cursor: pointer;
  }
}
