@charset "UTF-8";

.container {
  display: flex;
}

.snippet {
  padding: 10px;
  margin: 0 auto;
}

.dot-flashing {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  animation: dotFlashing 0.4s infinite linear alternate;
  animation-delay: 0.2s;
}

.dot-flashing::before,
.dot-flashing::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
}

.dot-flashing::before {
  right: 15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  animation: dotFlashing 0.4s infinite alternate;
  animation-delay: 0s;
}

.dot-flashing::after {
  left: 15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  animation: dotFlashing 0.4s infinite alternate;
  animation-delay: 0.4s;
}

@keyframes dotFlashing {
  0% {
    background-color: #9880ff;
  }

  50%,
  100% {
    background-color: #ebe6ff;
  }
}

.button {
  font-size: 14px;
  width: 100%;
  height: 40px;
  margin: 10px auto;
  border-radius: 15px;
  background-color: #f38507;
  color: white;
  border: none;
  cursor: pointer;
  border: 3px solid #b5866a;

  &--isSecondary {
    background-color: unset;
    color: #224b75;
    font-weight: bold;
    border: 2px solid #f38507;
  }

  &--isTertiary {
    background-color: unset;
    color: #b5866a;
    height: unset;
    width: unset;
    font-weight: bold;
  }

  &:disabled {
    cursor: not-allowed;
    filter: grayscale(70%);
  }
}
.button:hover {
  background-color: #b25712;
  border: 3px solid #b5866a;
  box-sizing: border-box;
  color: white;
}
