.navHome {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(160, 139, 107);
  height: 40px;
  padding: 10px 5px 5px;
  color: white;

  &__links {
    display: flex;

    &-a {
      color: white;
      margin: 5px;
      text-decoration: none;
    }
  }
}
