@import 'variables.scss';

html,
body,
#root {
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.app {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background: url(../../public/assets/backgroundPattern.png) repeat,
    linear-gradient(
      to bottom,
      #fc9e38,
      #fd9436,
      #fe8b35,
      #fe8036,
      #fe7637,
      #ff6a40,
      #fe5f48,
      #fc5351,
      #f64662,
      #ed3d71,
      #e03980,
      #cf3a8d
    );
  background-position: top;
  background-size: 300px, cover;
  font-family: $primaryFontFamily;

  @media (max-width: $mobile) {
    background-size: 150px, cover;
  }

  &__container {
    flex: 2;
    display: flex;
  }

  &__body {
    max-width: 1800px;
    margin: 150px auto;
    @media (max-width: $mobile) {
      margin: 0;
      width: 100%;
    }
  }

  &__footer {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
  }
}

.form {
  width: 100%;

  &__headline {
    margin: 0 0 0 8px;
    @media (max-width: $mobile) {
      margin: 0 0 0 12px;
    }
  }

  &__row {
    display: flex;
  }

  &__field-container {
    flex: 1;
    margin: 8px;
    min-width: 320px;

    @media (max-width: $mobile) {
      min-width: 180px;
      margin: 8px 12px;
    }
  }
}
