// RESPOSIVE SETUP
$mediumScreen: 1200px;
$tablet: 768px;
$mobile: 520px;

$borderRadius: 7px;

// FONT
$logoFontFamily: 'Dancing Script';
$primaryFontFamily: 'Roboto';

// COLORS
$primaryColor: #f38507;
$secondaryColor: #a30277;
$thirdColor: #ffffffa1;

// NOTIFICATIONS
$successColor: #51dc6b;
$infoColor: #3186ea;
$warninColor: #fec022;
$errorColor: #fc5758;
