.edit {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.65);
  border-radius: 7px;

  // &__form {
  //   &-container {
  //     flex: 1;
  //     display: flex;
  //     justify-content: center;
  //     align-items: center;
  //   }

  //   border-radius: 5px;
  //   padding: 20px;
  //   margin: 20px;
  //   max-width: 500px;
  // }
}

.menuEdit {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  padding: 10px;

  &__routes {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 7px auto;
    font-size: 1.1em;
    cursor: pointer;
  }
  &__icons {
    padding: 15px;
    border-radius: 50%;
    background: none;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 2s ease-out;

    &:hover {
      background-color: #fc5758;
      cursor: pointer;
    }

    &.clicked {
      background-color: #fc5758;
    }
  }
}
